﻿extends layout

block content
    h1= title
    p Welcome to #{title}

    h2 Events
    each event in events
        h3
            a(href='/event/' + event._id)=event.name
        h4= event.date
        h4= event.end
   

    h2 Users
    each user in users
        h3
            a(href='/user/' + user._id)=user.name + ' ' + user.engName
        h4= user.email
        h4= user.nickName
        h4= user.itsc

    h2 Add Event
    form(action='/addEvent', method='POST')
        div
            label Name
            input(name='name',id='name')
        div
            input(type='submit')