﻿doctype html
html
  head
    title Chinese YCMA Letter Certification
  body
    p 10 Mar, 2016
    p To Whom It May Concern:
    p I am hereby writing this letter to verify and confirm that #{name} (Student ID #{studentID}) has participated in the following service projects which are organized by University YMCA – HKUST and attained relevant service hours as follows:
    table
        tr
            th Name of Services
            th Service Hours
            th Date Period
        each item in items
            tr
                td item.name
                td item.hours
                td item.
    p Thank you very much.
    p Yours sincerely,
    footer
        br | Gloria NG,
        br | Program Manager,
        br | University YMCA - HKUST,
        br | Rm 1001 (Lift 4), HKUST Connect, SAO Office,
        br | The Hong Kong University of Science and Technology,
        br | Clear Water Bay, Kowloon,
        br | Hong Kong.
        br | Tel: (852)-2358 5851, Fax: (852)- 2358 1669
        br | Email: salyng@ust.hk
        p *Remarks: University YMCA – HKUST is a partnership project between Chinese YMCA of Hong Kong and The Hong Kong University of Science and Technology which has been launched since early 2010.  

