<!DOCTYPE html>
<html>
<head>
    <!-- Wrote for jason-->
    <title>Login page</title>
    <!-- CSS Style section (Just simple mod for very basic readable UI) -->
    <style>
        html {
            /* background: #ebebeb; */
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            position: relative;
            /* top right bottom left */
            padding: 0 0 0 0;
            /* background: #888888; */
            text-align: center;
        }
    </style>
    <!-- CSS link section -->
    <link rel="stylesheet" href="KendoUI/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="KendoUI/styles/kendo.bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="KendoUI/styles/kendo.default.min.css" /> -->
    <!-- Script section (using AngularJS, call API when retriving data) -->
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script> -->
    <script src="KendoUI/js/jquery.min.js"></script>
    <script src="KendoUI/js/angular.min.js"></script>
    <script src="KendoUI/js/kendo.all.min.js"></script>
    <script src="console.js"></script>
</head>
<body ng-app="homeScript" ng-controller="LoginCtrl">
    <div class="container">
        <br> <br> <br>
        <div id="header">
            <img id="header_img" src="img/Logo.jpg" alt="Logo" width="236" height="204">
            <div id="header_text"><h1> YMCA Volunteering work registration </h1></div>
        </div>
        
        <p>
            <span>User Name:</span>
            <input id="field_name" type="text" class="k-textbox" ng-model="ui_username" name="username" required="required" />
        </p>
        <p>
            <span>Password:</span>
            <input id="field_pwd" type="password" class="k-textbox" ng-model="ui_password" name="password" required="required" />
        </p>
        <form id="login_form" action="login" method="post">
            <input id="hidden_name" type="hidden" class="k-textbox" name="username" required="required" />
            <input id="hidden_pwd" type="hidden" class="k-textbox" name="password" required="required" />
            <button type="submit" kendo-button ng-click="login(username,password)">Login</button>
            <!-- <button kendo-button ng-click="gotoConsole()">To Console</button> -->
            <!-- <p>Message: {{message}} </p> -->
        </form>
    </div>

    <script>
        $(document).ready(function () {
            console.log("HTML loaded");
            //$('#field_name').val("");
            //$('#field_pwd').val("");
            $("#login_form").submit(function () {
                //console.log("ASDASDSA");
                $('#hidden_name').val($('#field_name').val());
                $('#hidden_pwd').val($('#field_pwd').val());
            });
        });
    </script>

</body>
</html>
