﻿extends layout

block content
    h1= title

    h2 User
    h3= user.name + ' ' + user.engName
    h4= user.email
    h4= user.nickName
    h4= user.itsc

    h2 Records
    each record in eventRecords
        h4
            a(href='/event/' + record.event._id)= record.event.name
        h4= record.joinTime
        h4= record.leaveTime
    
    div
        a(href='/user/' + user._id + '/delete') Delete User

    div
        a(href='/') Back