﻿html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Should be set by Kendo but not effective - define explictly */
.k-grid tr td {
    text-align: center;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #cccccc !important;
    border-width: 0;
}

.k-grid .k-button {
    font-size: 12px;
}

.k-grid .k-grid-header th.k-header {
    font-size: 16px;
    font-weight: bold;
}

.k-list-container {
    /* need min-width for default */
    min-width: 170px !important;
    width: auto !important;
}

.k-list {
    width: auto !important;
}

.container {
    position: relative;
    /* top right bottom left */
    /* padding: 0 0 0 15%; */
    padding: 0 0 0 280px;
    /* background: #888888; */
}

#kendoWindow {
    text-align: center;
    font-size: 20px;
}

#kendo_menu {
    height: 10%;
    background: #ff4350;
    border: 1px solid #000;
    margin: 5px 5px 5px 5px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

#menu_head_text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
    /* width: 15%; */
    border: 1px solid #000;
    /* background: #ebebeb; */
    font-size: 20px;
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
}

#header {
    border: 1px solid #000;
    height: 11%;
    font-size: 12px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    /*overflow: scroll;*/
}

    #header img {
        padding: 5px;
        max-height: 90%;
        width: auto;
    }

#sideTreeItem {
    width: 180px;
    padding: 10px;
    /* background: #80deea; */
    /* color: blue; */
}

#content {
    height: 88%;
    border: 1px solid #000;
    margin: 5px 5px 5px 5px;
    background: #ffffff;
    /*overflow: scroll;*/
}

#scroll_content {
    /*overflow: scroll;*/
}

#footer {
    background: #ebebeb;
    /* border: 1px solid #000; */
    height: 0;
    margin: 5px 5px 5px 5px;
}

#assetGrid_tab {
    font-size: 16px;
}

.XSGrid {
    height: 99%;
    width: auto;
    /* min-width: 480px; */
    max-width: 50%;
}

.XSGrid_frame {
    display: flex;
    justify-content: center; /* align horizontal */
}

.k-treeview .k-in {
    padding: 5px;
}

.k-edit-form-container {
    width: auto;
}

.assetMainLinkGrid_editorForm {
    display: inline-block;
    width: 100%;
    float: left;
    font-size: 14px;
}

    .assetMainLinkGrid_editorForm ul {
        list-style-type: none;
        margin-left: 0;
    }

        .assetMainLinkGrid_editorForm ul li {
            /* Remove this or Kendo Grid will have broken display */
            margin: 0.5em;
        }

            .assetMainLinkGrid_editorForm ul li.accept {
                margin-left: 11em;
            }

    .assetMainLinkGrid_editorForm .label {
        display: inline-block;
        width: 15em;
        text-align: left;
    }

        .assetMainLinkGrid_editorForm .label.required:before {
            content: "*";
            font-weight: bold;
            color: red;
        }

.assetGrid_editorFormL {
    display: inline-block;
    width: 50%;
    float: left;
    font-size: 14px;
}

    .assetGrid_editorFormL ul {
        list-style-type: none;
    }

        .assetGrid_editorFormL ul li {
            margin: 0.5em;
        }

            .assetGrid_editorFormL ul li.accept {
                margin-left: 11em;
            }

    .assetGrid_editorFormL .label {
        display: inline-block;
        width: 10em;
        text-align: left;
    }

        .assetGrid_editorFormL .label.required:before {
            content: "*";
            font-weight: bold;
            color: red;
        }

.assetGrid_editorFormR {
    display: inline-block;
    width: 50%;
    float: right;
    font-size: 14px;
}

    .assetGrid_editorFormR ul {
        list-style-type: none;
        padding-left: 20px;
        padding-right: 40px;
    }

        .assetGrid_editorFormR ul li {
            margin: 0.5em;
        }

            .assetGrid_editorFormR ul li.accept {
                margin-right: 11em;
            }

    .assetGrid_editorFormR .label {
        display: inline-block;
        width: 10em;
        text-align: left;
    }

        .assetGrid_editorFormR .label.required:before {
            content: "*";
            font-weight: bold;
            color: red;
        }

.cateMainGridLink {
    color: blue;
    text-decoration: underline;
    margin-left: 5px;
    font-size: 14px;
}

.cateMainGridNotLink {
    margin-left: 5px;
    font-size: 14px;
}

.assetGridPhotoImg {
    /* display: flex; */
    /* justify-content: center; */ /* align horizontal */
}

    .assetGridPhotoImg img {
        max-width: 320px;
        max-height: 240px;
        width: auto;
        height: auto;
    }

.assetGridPhotoImgBlank {
    /* display: flex; */
    /* justify-content: center; */
}

    .assetGridPhotoImgBlank img {
        width: 320px;
        height: 240px;
    }

.assetGridPhotoImgMini img {
    max-width: 64px;
    max-height: 48px;
    width: auto;
    height: auto;
}

.no-scrollbar .k-grid-header {
    padding: 0 !important;
}

.no-scrollbar .k-grid-content {
    overflow-y: visible;
}

#assetFileGrid td {
    text-align: left;
    font-size: 12px;
    color: #333333;
    /* border-bottom: 1px solid black; */
    border-width: 0;
}

img[alt="QR_CODE_IN"] {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(27deg) invert(100%);
    -webkit-filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(27deg) invert(100%);

}

img[alt="QR_CODE_OUT"] {
    filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(115deg) invert(100%);
    -webkit-filter: invert(100%) sepia(100%) saturate(10000%) hue-rotate(115deg) invert(100%);
}
